.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    height: max-content;
}

.checkout-ad {
    width: 80%;
    margin-bottom: 10px;
}

.checkout-title {
    margin-right: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}