.payment {
   background-color: white;
}

.payment-container > h2 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1pyx solid lightgray;
}

.payment-section {
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid lightgray;
}
